.list {
  /* margin-right: 500px; */
  /* translate: rotate(90deg) translateY(-100vh);
    overflow-x: visible;
    width: 300px; */
  /* width: 20vw; */
  /* transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden; */

  display: grid;
  grid-template-columns: repeat(auto-fit, 12em);
}

/* .list > div {
  display: inline-block;
} */
.searchbox {
  margin: 20px;
  font-size: medium;
  margin-top: 200px;
}
/* .label {
  }
   */
